.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 80px;
  position: fixed;
  z-index: 1100;
  top: 0;
  right: 0;
  left: 0;
}


.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-name {
  font-size: 1rem;
  color: #2c3e50;
  font-weight: 500;
}

.farmily-logo {
  background-image: url("../../assets/images/FARMILYLOGO.png");
  background-size: 220px;
  background-repeat: no-repeat;
  background-position: center;
  width: 180px;
  height: 50px;
}
