.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100px;
  position: fixed;
  z-index: 1100;
  top: 0;
  right: 0;
  left: 0;
}

.dashboard-header h1 {
  font-size: 1.8rem;
  color: #2c3e50;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.notifications-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #2c3e50;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #2c3e50; /* Optional for styling */
}

.user-name {
  font-size: 1rem;
  color: #2c3e50;
}

.farmily-logo {
  background-image: url("../../assets/images/FARMILYLOGO.png");
  background-size: 220px;
  background-repeat: no-repeat;
  background-position: center;
  width: 180px;
  height: 50px;
}
